$primary-color: #f00;
$secondary-color:#00ff1d;
$third-color:#000;
$fourth-color:#0008ff;
$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$font-base-size: 20px;
$font-base-size: 20px;
$around-border:15px;
